@page "/faq"
@inject IStringLocalizer<FAQ> L

<h2 class="neon-title page-title text-center">@L["Title"]</h2>
<div class="container mb-5 faq-page">
    <div class="row justify-content-center mb-5">
        <div class="col-md-8">
            <div class="accordion custom-faq-accordion" id="faqAccordion">
                @for (int i = 1; i <= 7; i++)
                {
                    var index = i; // Локальная копия для замыкания Lambda
                    var id = "faq" + index;
                    var qKey = "Q" + index;
                    var aKey = "A" + index;

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="heading@index">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#@id"
                                    aria-expanded="false" aria-controls="@id">
                                @L[qKey]
                            </button>
                        </h2>
                        <div id="@id" class="accordion-collapse collapse" aria-labelledby="heading@index" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                @L[aKey]
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>